@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #fafafa;
  padding: 0;
  margin: 0;
}

.Header {
    height: 7rem;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 50px;
    text-align: center;
    justify-content: center;
}

#Recipe {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Recipe input {
    width: 50rem;
    height: 4rem;
    border: none;
    border-bottom: #313135 solid 5px;
    font-size: 2.5rem;
    border-radius: 1rem;
}

#Recipe button {
    background-color: transparent;
    height: 4.8rem;
    width: 4.5rem;
    color: black;
    border: solid 5px #313135;
    border-radius: 1rem;
    cursor: pointer;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
}

.card {
    position: relative;
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #fafafa;
    border: 2px solid rgba(0, 0, 0, .10);
    max-width: 30rem;
    min-height: 46rem;
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.15);
}
  .card--img {
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 32rem;
    max-width: 30rem;
    border-radius: 50%;
  }

  .img {
    border-radius: 8px;
    width: 100%;
    max-height: 300px;
  }
  
  .card--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 2rem;
  }
  
  .card--title {
    padding-top: 0.5rem;
    color: #313135;
    font-weight: 700;
    font-size: 2.4rem;
  }

.cta {
    position: absolute;
    bottom: 1rem;
    text-decoration: none;
    color: #f2f2f2;
    background-color: #313135;
    border-radius: 4px;
    font-size: 2.4rem;
    width: 19rem;
    text-align: center;
    box-shadow: 2px 4px 12px rgba(16, 16, 16, 0.35);
}

.cta:hover {
  box-shadow: 2px 4px 12px rgba(16, 16, 16, 0.35);
}
