* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Franklin Gothic;
}

header {
    height: 300px;
    background-image: url("Cover.jpg");
    background-position: center;
    background-size: cover;
}

section.container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.todo {
    width: 400px;
    height: 500px;
    border: 5px solid black;
    position: relative;
    bottom: 40px;
}

section.container div.todo div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    color: white;
}

div.todo div.Head h1 {
    font-size: 35px;
}

div.todo div.Head button {
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 40px;
    position: relative;
    bottom: 9px;
}

div.todo div.Head button:hover {
    cursor: pointer;
}

section.container div.todo div.items {
    margin: 5px 5px;
    padding: 5px 5px;
    height: 85%;
}

div.todo div.items div.item {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
}

div.todo div.items div.item input {
    flex-basis: 90%;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

div.todo div.items div.item i {
    color: black;
    font-weight: bold;
    font-size: 30px;
}

div.todo div.items div.item i:hover {
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("Cover.jpg");
    background-position: center;
    background-size: cover;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer div.name {
    font-size: 20px;
    font-weight: bold;
}

footer div.icons {
    display: flex;
}

footer div.icons i {
    font-size: large;
    margin: 5px;
    font-weight: bold;
}

footer div.icons i:hover {
    cursor: pointer;
}